@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 62.5%;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background: #183068;
	color: #333;
}

p, h1, h2, h3, h4, h5, h6, ul {
	margin: 25px 0;
}

a {
	font-size: 1.6rem;
	color: #474747;
	text-decoration: underline;
}

a:hover {
	color: #fb2b2b;
}

h1 {
	font-size: 2.8rem;
	line-height: 3rem;
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;
	margin-bottom: 55px;
	position: relative;
}

h2 {
	font-size: 2.6rem;
	line-height: 2.8rem;
	font-weight: normal;
	letter-spacing: -1px;
	color: #333;
}

h3 {
	font-size: 1.8rem;
	font-weight: normal;
	margin: 8px 0;
}

h4 {
	font-size: 1.4rem;
	font-weight: normal;
	margin: 0;
}

h5 {
	font-size: 1.2rem;
	font-weight: normal;
	margin: 0;
}

p {
	font-size: 1.7rem;
}

ul {
	font-size: 1.6rem;
	margin-left: 20px;
}

li>a {
	color: #333;
}

ol {
	font-size: 1.6rem;
	margin-left: 36px;
}

main {
	max-width: 67rem;
	float: left;
	overflow: hidden;
	background-color: #fff;
}

main>p, main>div {
	margin-left: 7px;
}

header {
	max-width: 100%;
	margin-left: 0px;
	margin-bottom: -30px;
}

article {
	color: #333;
	padding: 15px 15px;
}

aside {
	width: 26em;
	float: left;
}

aside ol {
	margin: 12px 0 12px 22px;
}

aside>article {
	padding: 0px;
	margin-left: -10px;
	margin-bottom: 70px;
	box-shadow: 8px 9px 0px -1px rgba(45, 77, 147, 0.28);
	-webkit-box-shadow: 8px 9px 0px -1px rgba(45, 77, 147, 0.28);
	-moz-box-shadow: 8px 9px 0px -1px rgba(45, 77, 147, 0.28);
	-o-box-shadow: 8px 9px 0px -1px rgba(45, 77, 147, 0.28);
}

nav {
	max-width: 28rem;
	position: relative;
	display: block;
	margin: 24px 0;
	top: 0px;
	left: 36px;
}

nav>ul {
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

nav>ul>li {
	padding: 1rem;
}

nav a {
	color: #474747;
	text-decoration: none;
}

a.language {
	color: #474747;
}

#wrapper {
	position: relative;
	max-width: 96rem;
	margin: 0 auto;
	padding: 48px 10px 72px;
	background-color: #EAEAEA;
	min-height: 100vh;
	z-index: 99;
	box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
}

#modal {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(1, 3, 39, 0.91);
	z-index: 1;
	top: 0px;
}

#logo-link {
	text-decoration: none;
	color: #000;
	position: relative;
	display: block;
	background-color: red;
	padding: 15px 20px;
	max-width: 22rem;
}

#logo-text {
	position: relative;
	/*  top: -59px;
  left: 27px; */
	font-size: 2.7rem;
}

#language-box {
	display: inline;
	list-style-type: none;
	float: right;
	margin-top: -17px;
	display: none;
	margin-right: 20px;
}

#terms {
	margin-left: 0px;
}

#mc_embed_signup {
	background: #6BB6FF !important;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif;
	padding: 22px;
}

@media all and (min-width: 600px) {
	#language-box {
		display: block;
	}
	nav {
		max-width: 100%;
		top: -10px;
	}
	nav>ul>li {
		display: inline;
		list-style-type: none;
		padding-right: 20px;
	}
	main {
		max-width: 65rem;
	}
	#wrapper {
		max-width: 66rem;
	}
	#terms {
		margin-left: -325px;
	}
}

@media all and (min-width: 1020px) {
	header {
		max-width: 100%;
		margin-left: 0px;
		margin-bottom: -30px;
	}
	#language-box {
		display: block;
	}
	main {
		max-width: 67rem;
		padding: 15px;
	}
	nav {
		max-width: 550px;
		top: -63px;
		margin-left: 360px;
	}
	nav>ul>li {
		display: inline;
		list-style-type: none;
		padding-right: 20px;
	}
	aside {
		float: right;
		margin-top: -15px;
	}
	#wrapper {
		max-width: 96rem;
		padding: 48px 50px 72px;
	}
	#terms {
		margin-left: -325px;
		position: relative;
		top: 50px;
	}
}